{:profiles {:⌘ {:default true
                :sim 50
                :delay 500
                :alone 300
                :held 500}}

 :input-sources {:hex {:input_source_id "(.|^)UnicodeHexInput$"}}

 :tos {:hex {:input :hex}}

 :templates {:exec "source ~/.config/karabiner-util.sh\n%s"}

 :modi {:!FTTOOSSCCP [:function  :control        :option       :shift        :command        :caps_lock]
        :!FTOSCP     [:function  :left_control   :left_option  :left_shift   :left_command   :caps_lock]
        :!FWERQP     [:function  :right_control  :right_option :right_shift  :right_command  :caps_lock]
        :##          [:function  :control        :option       :shift        :command        :caps_lock]
        :!!          [:control   :option         :shift        :command]}

 :main
 [{:des "Change caps_lock to 'map' layer, if alone caps_lock and sound"
   :rules [[:#SSPcaps_lock ["map" 1] nil {:afterup ["map" 0]
                                          :alone [:caps_lock, [:exec "play Tink"]]}]]}

  {:des "Unicode Hex Input"
   :rules [[:!OO#Pcaps_lock [:hex :left_option] :!hex {:afterup :f18 :alone {:input :hex :halt true}}]
           [:!OO#Pcaps_lock nil :hex {:afterup :f18}]]}

  {:des "Keymap for ctrl+cmd"
   :rules [[:##fn [:caps_lock, [:exec "play Tink"]]     ["map" 1]] ;; caps lock
           [:#Pleft_command   {:key :f13 :repeat false} ["map" 1]] ;; clipboard
           [:#Pright_command  {:key :f13 :repeat false} ["map" 1]]

           [:#Ptab :!TSCkeypad_plus   ["map" 1]] [:#Ptab :!TSCkeypad_hyphen ["map" 1]]
           [:#Pw :!TSCkeypad_6        ["map" 1]] [:#Pq :!TSCkeypad_7        ["map" 1]] [:#Pd :f19 ["map" 1]]
           [:#Pn :!TSCkeypad_8        ["map" 1]] [:#Pr :!TSCkeypad_9        ["map" 1]]

           [:#SSPdelete_or_backspace :f15 ["map" 1]] ;; screenshots and recording options
           [:#SSPreturn_or_enter :f16  ["map" 1]]
           [:#SSPbackslash :f17        ["map" 1]]
           [:#Pf5 :!Of15 ["map" 1]] [:#Pv :!Of15 ["map" 1]] [:#SSPf3 :f14 ["map" 1]]

           [:#Pt [:exec "app Terminal"] ["map" 1]]                             ;; terminal
           [:#Pf {:modi [:control :command] :key :f :repeat false} ["map" 1]]   ;; fullscreen
           {:type :basic :from {:key_code :z :modifiers {:optional [:caps_lock]}} :to_after_key_up
            [{:set_variable {:name "map" :value 0}}
             {:software_function {:iokit_power_management_sleep_system {:delay_milliseconds 0}}}]
            :conditions [{:type "variable_if" :name "map" :value 1}]} ;; sleep now
           [:#Pescape [:exec "app 'Activity Monitor'"] ["map" 1]] [:#Pc :!Fc ["map" 1]] ;; activity monitor/control center
           [:#Pa :!Cspacebar ["map" 1]] [:#Px :!Cq ["map" 1]] [:!SS#Px :!OSCescape ["map" 1]] ;; spotlight/quit/force quit
           [:#Ps nil ["map" 1] {:afterup [:exec "app ScreenSaverEngine"]}] ;; screensaver

           [:#Pleft_control "~/Library/Custom/Executables/lockscreen"   ["map" 1]] ;; lock
           [:#Pright_control "~/Library/Custom/Executables/lockscreen"  ["map" 1]]

           [:#Pe        [:fn :vk_none] ["map" 1]] ;; emoji
           [:#Pspacebar [:fn :vk_none] ["map" 1]]

           [:#Pf1 :illumination_decrement ["map" 1]]  [:#Pf2 :illumination_increment ["map" 1]] ;; keyboard illumination

           [:#Pgrave_accent_and_tilde :!TSCkeypad_0 ["map" 1]]
           [:#P1 :!TSCkeypad_1 ["map" 1]] [:#P2 :!TSCkeypad_2 ["map" 1]] [:#P3 :!TSCkeypad_3 ["map" 1]]
           [:#P4 :!TSCkeypad_4 ["map" 1]] [:#P5 :!TSCkeypad_5 ["map" 1]]

           [:#Pf11 :!TCkeypad_hyphen ["map" 1]] [:#Pf12 :!TCkeypad_plus ["map" 1]]
           [:#P6 :!TC6          ["map" 1]] [:#P7 :!TCkeypad_1 ["map" 1]] [:#P8 :!TCkeypad_2 ["map" 1]] [:#P9 :!TCkeypad_3 ["map" 1]]
           [:#Py :!TC0          ["map" 1]] [:#Pu :!TCkeypad_4 ["map" 1]] [:#Pi :!TCkeypad_5 ["map" 1]] [:#Po :!TCkeypad_6 ["map" 1]]
           [:#Ph :!TC1          ["map" 1]] [:#Pj :!TCkeypad_7 ["map" 1]] [:#Pk :!TCkeypad_8 ["map" 1]] [:#Pl :!TCkeypad_9 ["map" 1]]
           [:#Pm :!TCkeypad_0   ["map" 1]] [:#Pcomma :!TC7    ["map" 1]] [:#Pperiod :!TC5   ["map" 1]]
           [:#Psemicolon :!TC2  ["map" 1]] [:#Pquote :!TC4    ["map" 1]] [:#Pslash :!TC3    ["map" 1]]

           [:#Pup_arrow   :mission_control    ["map" 1]] [:#Pleft_arrow   :!TC8 ["map" 1]]
           [:#Pdown_arrow :!Tmission_control  ["map" 1]] [:#Pright_arrow  :!TC9 ["map" 1]]
           [:#Popen_bracket [:exec "menu 'menu item \"Tile Window to Left of Screen\" of menu 1 of menu bar item \"Window\"'"] ["map" 1]]
           [:#Pclose_bracket [:exec "menu 'menu item \"Tile Window to Right of Screen\" of menu 1 of menu bar item \"Window\"'"] ["map" 1]]
           [:!SS#Popen_bracket [:exec "menu 'menu item \"Move Window to Left Side of Screen\" of menu 1 of menu bar item \"Window\"'"] ["map" 1]]
           [:!SS#Pclose_bracket [:exec "menu 'menu item \"Move Window to Right Side of Screen\" of menu 1 of menu bar item \"Window\"'"] ["map" 1]]

           [:#Pequal_sign [:exec "ignoreEvents=$(defaults read org.p0deje.Maccy ignoreEvents)
                                  defaults write org.p0deje.Maccy ignoreEvents true
                                  menu 'menu item \"Copy\" of menu 1 of menu bar item \"Edit\"'
                                  defaults write org.p0deje.Maccy ignoreEvents $ignoreEvents
                                  read -d '' output <<< \"$(pbpaste | tr -d '[:space:]' | bc -l 2>&1)\"
                                  printf %s \"$output\" | pbcopy
                                  menu 'menu item \"Paste\" of menu 1 of menu bar item \"Edit\"'"] ["map" 1]]]}

  {:des "Mouse keys"
   :rules
   [;; 6 7 8 9 0 - + ⌫
    ;; y u i o p [ ] \
    ;; h j k l ; ' ╶─⏎
    ;; n m , . / ╶───⇧
    ;;───┘ ⌘─╴ ⌥ ← ↕︎ →

    [:!SS#Pequal_sign {:modi [:control :command] :mkey {:vwheel 64}}  ["map" 1]]  ;; zoom in
    [:!SS#Phyphen {:modi [:control :command] :mkey {:vwheel -64}}     ["map" 1]]  ;; zoom out

    [:!SS#P7 {:mkey {:x -1000 :y -1000}}  ["map" 1]] [:!SS#P8 {:mkey {:y -1414}}  ["map" 1]] [:!SS#P9 {:mkey {:x 1000 :y -1000}}  ["map" 1]]
    [:!SS#Pu {:mkey {:x -1414}}           ["map" 1]] [:!SS#Pi {:pkey :button1}    ["map" 1]] [:!SS#Po {:mkey {:x 1414}}           ["map" 1]]
    [:!SS#Pj {:mkey {:x -1000 :y 1000}}   ["map" 1]] [:!SS#Pk {:mkey {:y 1414}}   ["map" 1]] [:!SS#Pl {:mkey {:x 1000 :y 1000}}   ["map" 1]]
    [:!SS#Pcomma {:pkey :button2}       ["map" 1]] [:!SS#Pperiod {:pkey :button3} ["map" 1]]

    [:!SS#Pleft_arrow {:mkey {:hwheel 32}}                 ["map" 1]] [:!SS#Pright_arrow {:mkey {:hwheel -32}}                ["map" 1]]
    [:!SS#Pup_arrow {:mkey {:vwheel -32}}                  ["map" 1]] [:!SS#Pdown_arrow {:mkey {:vwheel 32}}                  ["map" 1]]

    [:!SS#Ph {:mkey {:speed 0.5}}        ["map" 1]] [:!SS#Py {:mkey {:speed 0.25}} ["map" 1]] [:!SS#P0 {:mkey {:speed 0.02}}   ["map" 1]]
    [:!SS#Pn {:mkey {:speed 4}}          ["map" 1]] [:!SS#Pm {:mkey {:speed 2}} ["map" 1]]

    [:!SS#Pleft_command {:mkey {:speed 4}}                 ["map" 1]] [:!SS#Pleft_option {:mkey {:speed 2}}                   ["map" 1]]
    [:!SS#Pright_command {:mkey {:speed 4}}                ["map" 1]] [:!SS#Pright_option {:mkey {:speed 2}}                  ["map" 1]]
    [:!SS#Pslash {:mkey {:speed 0.5}}                      ["map" 1]]]}

  {:des "Modifications"
   :rules
   [[:!CC#Pcaps_lock {:key :f13 :repeat false}]
    [:!TT#Pcaps_lock "~/Library/Custom/Executables/lockscreen"]
    [:!F##delete_or_backspace :delete_forward]

    [:#Pleft_shift  :#Pleft_shift   ["map" 1]]
    [:#Pright_shift :#Pright_shift  ["map" 1]]
    [{:modi [:any] :any :key_code} :vk_none ["map" 1]]
    [:##caps_lock [:caps_lock, [:exec "play Tink"]]]]}]}

